<div class="mt-4 d-flex flex-column gap-4">
  <h2 class="text-center">Formulario de Datos de Salud</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-4">
    <div class="form-health-data">
      <div>
        <label class="form-label">Edad</label>
        <input type="number" class="form-control" formControlName="age">
      </div>
      <div>
        <label class="form-label">Altura</label>
        <input type="text" class="form-control" formControlName="heigth">
      </div>
      <div>
        <label class="form-label">Peso</label>
        <input type="text" class="form-control" formControlName="weigth">
      </div>
      <div>
        <label class="form-label">Tipo de Sangre</label>
        <select class="form-select" formControlName="bloodType">
          <option value="" selected>Seleccionar</option>
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
        </select>
      </div>
      <div>
        <label class="form-label">Enfermedades</label>
        <input type="text" class="form-control" formControlName="diseases">
      </div>
      <div>
        <label class="form-label">Alergias</label>
        <input type="text" class="form-control" formControlName="allergies">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="terms">
        <label class="form-check-label">
          Aceptar términos y condiciones
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-success col-4 mx-auto">Enviar</button>
  </form>
</div>
