<h2 class="mt-4">Hola</h2>
<p>
  Bienvenido(a) al <strong>Sistema de Gestión Integrada de Servicios Biomédicos</strong> desarrollado por el <strong>Instituto Peruano del Deporte(IPD)</strong>
</p>
<p>El mismo que cuenta con las siguientes funcionalidades:</p>
<ul>
    <li>Trazabilidad del historial de salud</li>
    <li>Acceso oportuno a la información biomédica</li>
    <li>Controles de acceso a la información y registros de auditoría</li>
    <li>Seguimiento terapias</li>
    <li>Carga de datos de pruebas médicas</li>
    <li>Emisión de reportes</li>
</ul>
